@use '../form';

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
}

.formRow label, .label{
    margin-right: 1em;
}