@use '../../common';

.board{
    background-color: common.$c-white;
}

.Easy{
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: repeat(4, 10em);
}

.Normal{
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: repeat(6, 10em);
}

.Hard{
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: repeat(8, 10em);
}

.blocker{
    pointer-events: none;
    cursor: not-allowed;
}