@use '../tile';
@use '../../common';

.tile:hover{
    cursor: pointer;
    background-color: common.$c-dark-gray;
    box-shadow: common.$shadow;
}

.active{
    cursor: not-allowed;
    background-color: common.$c-dark-gray;
    color: common.$c-white;
    box-shadow: common.$shadow;
}

.scored{
    animation: 0.5s 1 normal fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    from{
        opacity: 1;
        background-color: common.$c-dark-green;
    }

    to{
        opacity: 0;
        visibility: hidden;
    }
}