@use '../tile';

.tile:hover{
    cursor: pointer;
    background-color: darkgrey;
    box-shadow: gray 0 0 10px 10px;
}

.active{
    cursor: not-allowed;
    background-color: darkgrey;
    box-shadow: gray 0 0 10px 10px;
}

.scored{
    animation: 0.5s 1 normal fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    from{
        opacity: 1;
        background-color: green;
    }

    to{
        opacity: 0;
        visibility: hidden;
    }
}