@use '../tile';
@use '../../common';

$tile-shadow: black 0 0 10px 10px;

.tile:hover{
    @include common.shadow($color: black);
    cursor: pointer;
    background-color: common.$c-dark-gray;
}

.active{
    @include common.shadow($color: black);
    cursor: not-allowed;
    background-color: common.$c-dark-gray;
    color: common.$c-white;
}

.scored{
    animation: 0.5s 1 normal fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    from{
        opacity: 1;
        background-color: common.$c-dark-green;
    }

    to{
        opacity: 0;
        visibility: hidden;
    }
}