@use '../../common';
@use '../form';

.form{
    display: flex;
    flex-direction: column;

    label{
        padding-right: 1em;
    }
}

.formRow{
    display: flex;
    flex-direction: column;

    > *{
        margin-bottom: 1em;
    }
}

.inputSection{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.error{

    label{
        color: common.$c-dark-red;
    }

    input{
        border-color: common.$c-dark-red;
    }

    input:focus, input:hover{
        @include common.shadow($color: common.$c-dark-red)
    }
}