@use '../../common';
@use '../form';

.form{
    display: flex;
    flex-direction: column;

    label{
        padding-right: 1em;
    }
}

.inputSection{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 2em;
}

.error{

    label{
        color: common.$c-dark-red;
    }

    input{
        border-color: common.$c-dark-red;
    }

    input:focus{
        @include common.shadow($color: common.$c-dark-red)
    }
}

.errorLabel{
    border-radius: common.$rounded;
    color: common.$c-white;
    background-color: common.$c-dark-red;
    margin: 0 0 2em 0;
    padding-left: 1em;
}