@use '../../common';

.form{
    display: flex;
    flex-direction: column;
}

.inputSection{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 5rem 10rem;
    text-align: end;
}

.form label, .form input{
    font-size: 14pt;
}

.form input{
    border-radius: common.$rounded;
    padding: 0 0.5em 0 0.5em;
}

.error label{
    color: common.$c-dark-red;
    
}

.errorLabel{
    border-radius: common.$rounded;
    color: common.$c-white;
    background-color: common.$c-dark-red;
    padding: 0 5px 0 5px;
}

.error input{
    border-color: common.$c-dark-red;
}