@use '../common';

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: common.$secondary-color;
}

.list{
    display: grid;
    row-gap: 1em;
    padding-bottom: 1em;
    grid-template-columns: repeat(2, 345px);
    justify-items: center;
}