@use '../common';

.content{
    background-color: common.$secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}