.page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.nav button{
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
}

.nav button:hover{
    cursor: pointer;
}