@use '../common';

input, select{
    background-color: common.$c-white;
}

label{
    cursor: pointer;
}

.formButton{
    border-radius: common.$rounded;
}

.formButton:hover{
    cursor: pointer;
    box-shadow: common.$shadow;
}