@use '../common';

.tile{
    width: 160px;
    height: 160px;
    background-color: common.$c-light-gray;
    border-radius: 10px;
    font-size: 12pt;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}