.record{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    font-size: 14pt;
    width: 240px;
    height: 180px;
}

.win{
    background-color: lightgreen;
}

.loss{
    background-color: coral;
}