.tile{
    width: 160px;
    height: 160px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 12pt;
}

.tile:hover{
    cursor: pointer;
    background-color: darkgrey;
    box-shadow: gray 0 0 10px 10px;
}

.active{
    cursor: not-allowed;
    background-color: darkgrey;
    box-shadow: gray 0 0 10px 10px;
}

.scored{
    animation: 0.5s 1 normal fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
        background-color: green;
    }

    to{
        opacity: 0;
        visibility: hidden;
    }
}