@use '../../common';

.record{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    font-size: 14pt;
    width: 240px;
}

.record:hover{
    cursor: pointer;

}

.win{
    color: white;
    background-color: common.$c-dark-green;
}

.win:hover{
    background-color: common.$c-light-green;
    box-shadow: common.$c-dark-gray 0 0 10px 10px;
}

.loss{
    color: white;
    background-color: common.$c-dark-red;
}

.loss:hover{
    background-color: common.$c-light-red;
    box-shadow: gray 0 0 10px 10px;
}