@use '../../common';

.banner{
    width: 90%;
    color: white;
    background-color: common.$c-dark-green;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text{
    font-size: 20px;
    font-weight: bold;
}