@use '../../common';

.banner{
    width: 90%;
    color: common.$c-white;
    background-color: common.$c-dark-green;
    border-radius: common.$rounded;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text{
    font-size: 20px;
    font-weight: bold;
}