@use '../../common';

@mixin header-button{
    background-color: common.$c-dark-blue;
    border: 1px solid common.$c-dark-blue;
    border-radius: 10px;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: common.$c-dark-gray;
}

.title{
    width: 33.3%;
    padding-left: 1rem;
    font-weight: bold;
    font-style: italic;
    font-size: 36pt;
    color: white;
    margin: auto 0 auto 0;
}

.nav{
    width: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        color: white;
        text-decoration: none;
        width: 120px;
        height: 50px;
        font-size: 18pt;
        @include header-button();
    }

    a:hover{
        background-color: common.$c-light-blue;
    }
}

.nav a.active{
    background-color: common.$c-light-blue;
    cursor: not-allowed;
}

.account{
    width: 33.3%;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    span{
        display: block;
        font-size: 12pt;
        color: white;
        font-family: common.$mono-font;
    }

    button{
        margin-left: 1rem;
        color: white;
        width: 100px;
        height: 50px;
        max-width: 200px;
        font-size: 12pt;
        font-family: common.$mono-font;
        @include header-button();
    }

    button:hover{
        background-color: common.$c-light-blue;
    }
}

button.secondary{
    background-color: common.$c-light-gray;
    border: 1px solid common.$c-light-gray;
    color: black;
}

button.secondary:hover{
    background-color: white;
}