@use '../../common';

.modal{
    border-radius: common.$rounded;
    background-color: common.$c-light-gray;
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
};