@use '../../common';

.modal{
    border-radius: common.$rounded;
    background-color: common.$c-light-gray;
    min-width: 400px;
    min-height: 300px;
    max-height: 500px;
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
};

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;

    h1{
        margin: 0;
    }
}

.close{
    width: 40px;
    height: 40px;
    background-color: common.$c-white;
    font-size: 14pt;
    font-weight: bolder;
    border-radius: common.$rounded;
}

.close:hover{
    cursor: pointer;
    box-shadow: common.$shadow;
}