@use '../../common';

.navPane{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.navigate{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    width: 75px;
    height: 75px;
    font-size: 12pt;
    background-color: common.$c-dark-gray;
}

.navigate:disabled{
    cursor: not-allowed;
    background-color: common.$c-light-gray;
}

.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
}

.pages p{
    margin: 0;
}